/*
=================================================
Nav Bar
=================================================
*/

.nav-item{
    color: white;
}

/*
=================================================
Homepage
=================================================
*/

.img-fluid {
    border-radius: 5%;
    padding: 5%;
}