/*
=================================================
Nav Bar
=================================================
*/



/*
=================================================
Homepage
=================================================
*/

.img-fluid {
    border-radius: 15%;
    padding: 5%;
}
/*
=================================================
About 
=================================================
*/

/* Citation */
.profile {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}
.profile img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.profile h2 {
    margin-top: 0;
}
.profile p {
    margin-bottom: 10px;
}